
.ItemMenu{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #AAAAAA;
}


.SubItemMenu{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #AAAAAA;
}


  .sideBarName{

/* Amira Mansouri */


margin-left: 28.04%;


font-family: 'BentonSans Book';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;

color: #787878;

  }